@page "/"
@using EmailService.Api.Contracts.Requests
@using EmailService.Api.Sdk
@using EmailService.WebApp.Models

@inject IEmailServiceApi EmailServiceApi
@implements IDisposable

<PageTitle>Home</PageTitle>


<div class="main">
    <h2>Compose Email</h2>
    <EditForm EditContext="editContext" OnValidSubmit="SendEmail" FormName="SendEmailForm">
        <div class="form-field">
            <label>To:</label>
            <div>
                <InputText class="form-control" @bind-Value="Email!.Recipient" />
                <ValidationMessage class="validation-message" For="@(() => Email.Recipient)" />
            </div>
        </div>

        <div class="form-field">
            <label>Subject:</label>
            <div>
                <InputText class="form-control" @bind-Value="Email.Subject" />
                <ValidationMessage class="validation-message" For="@(() => Email.Subject)" />
            </div>
        </div>

        <div class="form-field">
            <label>Message:</label>
            <div>
                <InputTextArea class="form-control" @bind-Value="Email.Body" />
                <ValidationMessage class="validation-message" For="@(() => Email.Body)" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Send Email</button>
        <button type="reset" class="btn btn-secondary">Reset</button>

        <DataAnnotationsValidator />
    </EditForm>
@if (!string.IsNullOrEmpty(StatusMessage))
{
    <p>@StatusMessage</p>
}
</div>


@code {
    [SupplyParameterFromForm]
    EmailSubmission? Email { get; set; }

    bool isError = false;
    string StatusMessage = string.Empty;
    private EditContext? editContext;

    protected override void OnInitialized()
    {
        Email ??= new();
        editContext = new EditContext(Email);
        editContext.OnFieldChanged += HandleFieldChanged;
    }

    public void Dispose()
    {
        if (editContext is null) return;
        editContext.OnFieldChanged -= HandleFieldChanged;
    }

    private void HandleFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        isError = editContext?.Validate() is false;
        StateHasChanged();
    }

    async Task SendEmail()
    {
        try
        {
            await EmailServiceApi.SendEmailAsync(new SendEmailRequest
            {
                To = Email!.Recipient,
                Subject = Email.Subject,
                Body = Email.Body
            });

            StatusMessage = "Email sent successfully!";
        }
        catch (Exception ex)
        {
            StatusMessage = $"Failed to send email: {ex.Message}";
        }
    }
}